@font-face { font-family:"g_font_1";src:url("g_font_1.cff");}
@font-face { font-family:"g_font_2";src:url("g_font_2.cff");}
@font-face { font-family:"g_font_3";src:url("g_font_3.cff");}
@font-face { font-family:"g_font_4";src:url("g_font_4.cff");}
@font-face { font-family:"g_font_5";src:url("g_font_5.cff");}
@font-face { font-family:"g_font_6";src:url("g_font_6.cff");}
@font-face { font-family:"g_font_7";src:url("g_font_7.cff");}
@font-face { font-family:"g_font_8";src:url("g_font_8.cff");}
@font-face { font-family:"g_font_9";src:url("g_font_9.cff");}
